body{
    margin:0;
    background:#f8f4eb;
    color:#333;
    font-family:Tahoma,sans-serif;
}

header{
    text-align:center;
    padding:60px 20px;
}

.profile{
    width:220px;
    height:220px;
    border-radius:50%;
    object-fit:cover;
    border:6px solid #c8a96a;
    box-shadow:0 10px 30px rgba(0,0,0,.15);
}

h1{
    color:#b08d57;
    margin-top:20px;
    font-size:42px;
}

p{
    font-size:20px;
}
