body{
    margin:0;
    background:#f8f4eb;
    color:#333;
    font-family:Tahoma,sans-serif;
}

header{
    text-align:center;
    padding:60px 20px;
}

.profile{
    width:220px;
    height:220px;
    border-radius:50%;
    object-fit:cover;
    border:6px solid #c8a96a;
    box-shadow:0 10px 30px rgba(0,0,0,.15);
}

h1{
    color:#b08d57;
    margin-top:20px;
    font-size:42px;
    section{
    max-width:900px;
    margin:40px auto;
    padding:35px;
    background:#fffdf8;
    border-radius:20px;
    box-shadow:0 8px 25px rgba(0,0,0,.08);
}

h2{
    color:#b08d57;
    text-align:center;
    margin-bottom:25px;
}

.book{
    background:#ffffff;
    border-right:6px solid #c8a96a;
    border-radius:15px;
    padding:20px;
    margin:20px 0;
    box-shadow:0 5px 15px rgba(0,0,0,.06);
    transition:.3s;
}

.book:hover{
    transform:translateY(-4px);
}

.book h3{
    color:#8f6b32;
    margin-top:0;
}
}

p{
    font-size:20px;
}
